.category {
	float:left;
	width:30%;
}
.category li {
	list-style:none;
	display: block;
	padding: 5px;
	border: 1px solid black;
	-webkit-border:1px solid black;
}
.checkbox_region {
	float: left;
	padding-top:20px;
	display:block;
	width: 65%;
	margin-left: 5%;
}
label {
	display: inline-block;
	width: 70px;
}