#banner {
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 15px;
	margin-bottom: 15px;
	
	width: 90%;
	padding: 10px;

	background-color:yellow;
}
#map {
	float: left;
	margin-left: 5%;
	
	width:	45%;
	height: auto;

	background-color: rgb(240, 240, 240);
}
#checkboxlist {
	float: right;
	margin-right: 5%;

	width:	40%;
	height: 400px;

	background-color:gray;
}