#banner {
	background-color:yellow;
	border: 2px;
	position: absolute;
	top:	30px;
	left:	5%;
	width:90%;
	height:70px;
}
#map {
	position: absolute;
	top:150px;
	left:50px;
	width:480px;
	height:640px;
}
#checkboxlist {
	background-color:gray;
	position: absolute;
	top:	150px;
	left:	540px;
	width:	420px;
	height:	640px;
}
#share {
	display:block;
	background-color:yellow;
	position: absolute;
	top:83%;
	left:36%;
	border: 2px;
	width:150px;
	height:45px;
}