.category {
	float:left;
	margin-right: 5%;
	
	width:30%;
}
.category.hover {
	background-color: beige;
}
.category ul {
	list-style-type: none;
	
	width: 80px;
	margin:0;
	padding:0;
}
.category li {
	display: block;

	margin : 0px;
	padding: 5px;
	border: 1px solid black;
	-webkit-border:1px solid black;
}
.checkbox_region {
	float: right;
	display:block;

	padding-top:20px;
	width: 65%;
}

label {
	display: inline-block;
	
	width: 70px;
}

.cbgroup {
	display: none;
}
.cbgroup.hover {
	display: block;
}