/********************************************
 1. Position and Size
*********************************************/

body {
	width: 800px;
	margin: 0 auto;
}
#banner {
	width: 778px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #000;
}
.map-wrapper {
	position: relative;
}
#map {
	position:absolute;
	top:0px;
	left:0px;
	width: 420px;
	height: auto;
}
#zoom {
	position:absolute;
	top:0px;
	left:0px;
	width: 420px;
	height: 556px;
}

#checkboxlist {
	float: right;
	padding: 20px 20px;
	width: 320px;
	height: 400px;
}

/********************************************
 2. Color and style
*********************************************/
#banner {
	background-color:yellow;
}
#map {
	background-color: rgb(240, 240, 240);
}
#checkboxlist {
	background-color:gray;
}

/*
 * fill: none  is too slow.
 * fill-opacity: 0 is faster
 */
.city, .label {
	fill:yellow;
	fill-opacity: 0;
}

.city.hover, .label.hover {
	fill:yellow;
	fill-opacity: 1;
	background: yellow;
}

.city.selected.hover, .label.selected.hover {
	fill:orange;
	fill-opacity: 1;
	background: orange;
}

.city.selected, .label.selected {
	fill:red;
	fill-opacity: 1;
	background: red;
}

.region {
	fill: beige;
	fill-opacity: 0;
}
.region.hover {
	fill: beige;
	fill-opacity: 1;
}
